html,body{ margin:0; padding:0; height:100%; width:100%; }
div{
    --bg_color: aliceblue;
    background: var(--bg_color);
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-transition: background-color 3s;
    transition: background-color 3s;
}

#name{
    color: ivory;
}

